@import '../style/@index.scss';

.auth-button {
    min-width: 100%;
    margin-top: 1rem;
    background-color: $netflix-red;
}
.out-button {
    height: 35px;
    min-width: 100px;
    background-color: $netflix-red;
    color: $light;
    border-radius: 2px;
}
