@import '../../app/global.scss';

.movie-card {
    margin-right: 2px;
    margin-left: 2px;
    transition: all 0.5s linear 0.4s;
    position: relative;
    z-index: 10;
    &:hover {
        transform: scale(1.3);
        margin-right: 42px;
        margin-left: 42px;
        .movie-card-controls {
            transition: all 0.4s linear 0.1s;
            opacity: 1;
            visibility: visible;
            background-color: $shadow;
        }
    }
    .movie-card-controls {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        opacity: 0;
        visibility: hidden;

        color: $less-white;
        padding: 0.5rem;
        background-color: transparent;
        transition: all 0.4s linear;
        z-index: 10;
        .poster-controls-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .movie-name{
                font-size: 1rem;
                font-weight: 400;
                padding-top: 1rem;
            }
        }
        .poster-controls-buttons {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: flex-end;
        }
    }
}
