@import '../../app/global.scss';

.static-card {
    transition: all 0.5s linear 0.4s;
    position: relative;
    z-index: 10;
    &:hover {
        .static-card-controls{
            transition: all 0.4s linear 0.1s;
            opacity: 1;
            visibility: visible;
            background-color: $shadow;
        }
    }
    .static-card-controls{
        width: 375px;
        height: 211px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        opacity: 0;
        visibility: hidden;
        color: $less-white;
        padding: 0.5rem;
        background-color: transparent;
        transition: all 0.4s linear;
        z-index: 10;
        .static-controls-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .static-name{
                font-size: 1.4rem;
                font-weight: 400;
                padding-top: 1rem;
            }
        }
        .static-controls-buttons {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: flex-end;
        }
    }
}
