@import '../../../global.scss';

.search-page{
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: var(--bg-color);
    padding-top: var(--header-hight);
    position: relative;
    .titles{
        width: 100%;
        padding: 1rem;
        display: flex;
        .explore{
            color: red;
            width: 58ch;
        }

        .searched-names{
            display: inline-block;
            list-style: none;
            padding: 5px;
            font-size: 14px;
            .name-item{
                display: inline-block;
                border-left: 1px solid #fff;
                padding: 0 10px;
                cursor: pointer;
                transition: all 0.5s linear;
            }
            & :hover{
                color: blue;
                transform: scale(1.05);
            }
    
        }
    }
} 