@import '../../app/global.scss';

.auth-button {
    min-width: 100%;
    margin-top: 1rem;
    background-color: $netflix-red;
    padding: 0.5rem 1rem;
    display: flex;
    max-width: 10rem;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    border-radius: var(--radius-sm);
    color: var(--color-lt);
    position: relative;
    &:hover {
        cursor: pointer;
    }
}
.in-top{
    margin-top: 2rem;
}
.out-button {
    height: 35px;
    min-width: 100px;
    background-color: $netflix-red;
    color: $light;
    border-radius: 2px;
}
.g_link {
    color: var(--color-lt);
    transition: transform 300ms linear;
    &:hover {
        font-weight: 700;
        transform: scale(1.1);
        cursor: pointer;
    }
}
