@import '../../app/global.scss';

.nav {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    .nav-link-active {
        color: #fff;
        font-weight: 900;
    }
    .nav-link {
        color: #fff;
        font-weight: 300;
        min-width: max-content;
    }
    .home-link{
        display: none;
    }
}
@media (min-width: $xs) {
    .nav{
        gap: 1rem;
        .home-link{
            display: block;
        }
    }
}
