@import '../../app/global.scss';

.netflix-logo {
    .logo {
        order: 1;
        width: 100px;
        object-fit: contain;
        &:hover {
            cursor: pointer;
        }
    }
    .logo-big {
        display: none;
    }
    .logo-mobile {
        display: block;
        width: 24px;
        max-height: 30px;
    }
    @media screen and (min-width: 640px) {
        .logo-big {
            display: block;
        }
        .logo-mobile {
            display: none;
        }
    }
}
