@import '../../app/global.scss';

.slider-container {
    position: relative;
    z-index: 10;
    .row-title {
        position: absolute;
        top: 0;
        left: 0;
        color: #fff;
        padding: 0 20px;
        font-weight: 400;
        letter-spacing: 2px;
    }
    .row-movies {
        display: flex;
        overflow-x: scroll;
        padding: 30px 20px 20px 20px;
        transform: translateX(0px);
        transition: all 0.8s ease;
    }
    .arrow-icons-wrapper {
        pointer-events: none;
        position: absolute;
        top: 40%;
        left: 0;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        z-index: 10;
        .arrow {
            pointer-events: all;
            visibility: visible;
            opacity: 1;
            cursor: pointer;
        }
        .hidden-arrow {
            visibility: hidden;
            opacity: 0;
        }
    }

    // .row-movies::-webkit-scrollbar {
    //     display: none;
    // }
}
/* =========== CUSTOM SCROLLBAR ========  */
::-webkit-scrollbar{
    width: 10px;
    height: 4px;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: $netflix-black;
}
::-webkit-scrollbar-thumb:horizontal{
    border-radius: 2px; 
    background-color: $netflix-red;
    cursor: pointer;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-track:horizontal{
    // background-color: rgba(0,0,0,0.2);
    background-color: $netflix-black;
    margin-left: 1rem;
    margin-right: 1rem;
}
