@import '../../global.scss';

.watch-page{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .watch-content{
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        .video-player{
            position: relative;
            background-color: $netflix-black;
            aspect-ratio: 16/9;
            z-index: 10;
        }
    }
    .bg_image{
        position: absolute;
        width: 100%;
        object-fit: cover;
        filter: blur(12px);
        filter: brightness(0.5);
        z-index: -10;
    }
}