@import '../../global.scss';

.watch-page{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    // background-color: $netflix-black;
    background-color: #fff;
    color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    .watch-content{
        width: 100%;
        max-width: 768px;
        margin: 0 auto;
        // margin-top: 50px;
        .close-button {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            background-color: transparent;
            padding-bottom: 5px;
            .close-icon-box {
                border-radius: 50%;
                background-color: inherit;
                padding: 5px;
                overflow: hidden;
                transition: background-color 0.3 linear;
                &:hover {
                    background-color: $bg-block-dark;
                    cursor: pointer;
                }
            }
        }
        .video-player{
            position: relative;
            background-color: $netflix-black;
            aspect-ratio: 16/9;
            
        }
    }
    // @media (min-width: $sm) {
    //     .watch-content {
    //         margin-top: 70px;
    //     }
    // }
    // @media (min-width: $md) {
    //     .watch-content {
    //         margin-top: 90px;
    //     }
    // }
    // @media (min-width: $xl) {
    //     .watch-content {
    //         margin-top: 110px;
    //     }
    // }
}