@import '../../app/global.scss';
// genres row list
.genres-list-row{
    display: flex;
    gap: 10px;
    font-size: 1rem;
    padding-top: 0.5rem;
    .genre-item{
        display: flex;
        align-items: center;
    }
}
